<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>

<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">GameShop</a>
            <a class="navbar-brand" th:href="@{/profile}">Profile</a>
            <a class="navbar-brand" th:href="@{/logout}">Logout</a>
            <a class ="navbar-brand" th:if="${user.returnRole() == 'ROLE_ADMIN'}" th:href="@{/admin}">Admin Panel</a>
        </div>
    </div>
</nav>

<br>
<br>
<!-- Create HTML registration form -->
<div class="container">
    <div th:if="${param.succes}">
        <div class="alert alert-info">You've successfully added the game</div>
    </div>
    <div th:if="${param.success}">
        <div class="alert alert-info">You've successfully deleted the game</div>
    </div>
    <div th:if="${param.successUser}">
        <div class="alert alert-info">You've successfully deleted User</div>
    </div>
    <div th:if="${param.fail}">
        <div class="alert alert-info">You can't delete an Admin</div>
    </div>


    <!--@{images/{name}.jpg(name=${game.name})}-->
    <div style="width: 100%;padding-top: 20px;" >
        <span style="color:#151515; font-size: 40px">Welcome </span><span style="color:#151515; font-size: 40px" th:text="${user.firstName}"></span>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <!-- success message -->

            <div>

                <h2>Your Profile</h2>
                <span>Firstname: </span><span th:text="${user.firstName}"></span><br>
                <span>Lastname: </span><span th:text="${user.lastName}"></span><br>
                <span>Username: </span><span th:text="${user.userName}"></span><br>
                <span>Email: </span><span th:text="${user.email}"></span><br>

                <h2>All games:</h2>
                <table>
                    <thead>
                    <tr  th:if="${gamesInfo.size()!= 0}">
                        <th> Name </th>
                        <th> Price </th>
                        <th> Key </th>
                        <th> Date </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${gamesInfo.isEmpty()}">
                        <td colspan="2"> Your library is empty.</td>
                    </tr>
                    <tr th:each="game : ${gamesInfo}"  th:if="${game.value.visible}" style ="border-top: #39393b solid 2px;">
                        <td class="tablespace" width=" 100px"><span th:text="${game.value.name}"> Name </span></td>
                        <td class="tablespace" th:if="${game.value.price != 0}"><span th:text="${game.value.price}"> Price </span><span>$</span></td>
                        <td class="tablespace" th:if="${game.value.price == 0}"><span> Free </span>
                        <td class="tablespace">
                            <div class = "key_profile">
                                <span th:text="${game.key.getGameKey()}"> Price </span>
                            </div>
                        </td>
                        <td class="tablespace"><span th:text="${game.key.getDate()}"> Date </span>

                    </tr>
                    </tbody>
                </table>

            </div>

   <!--         <div>
                <h2>All users:</h2>
                <table>
                    <thead>
                    <tr>
                        <th class="tablespace"> FirstName </th>
                        <th class="tablespace"> LastPrice </th>
                        <th class="tablespace"> Username </th>
                        <th class="tablespace"> Email </th>
                        <th class="tablespace"> Role </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${users.isEmpty()}">
                        <td colspan="2"> No Books Available </td>
                    </tr>
                    <tr  th:each="user : ${users}">
                        <td class="tablespace"><span th:text="*{user.firstName}"> FirstName </span></td>
                        <td class="tablespace"><span th:text="*{user.lastName}"> Lastname </span></td>
                        <td class="tablespace"><span th:text="*{user.userName}"> Username </span></td>
                        <td class="tablespace"><span th:text="*{user.email}"> Email </span></td>

                        <td class="tablespace"><span th:text="*{user.returnRole()}"> Role </span></td>
                        <td th:if="${user.returnRole() != 'ROLE_ADMIN'}" class="tablespace"><a  th:href="@{admin/delete_user/{id}(id=${user.id})}" class="btn btn-danger">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>-->
        </div>
    </div>
</div>


</body>
</html>